main {
  margin: 0 auto;
  font-family: "Noto", sans-serif;
  background-color: #FFFFF2;
}

h1, h2, h3, h4, p, div, ul, ol {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

h1, h2, h3 {
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

h3 {
  font-size: 16px;
}

a {
  text-decoration-line: none !important;
  color: #000 !important;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0 !important;
}

section {
  padding: 5% 0px;
  box-shadow: 0px 5px 40px #383837;
}

p {
  text-align: center;
  padding: 10px 0;
}

img {
  border-radius: 15px;
}

/* ---- FLEXBOX ---- */
.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyAround {
  justify-content: space-around;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyEven {
  justify-content: space-evenly;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.alignAround {
  align-items: space-around;
}

.alignBetween {
  align-items: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.noWrap {
  flex-wrap: nowrap;
}

.gap10 {
  gap: 10px;
}

.bkg-secondary {
  background-color: #F5B988;
}

.content {
  height: 100%;
  max-width: 1440px;
}

.imgContainer img {
  width: 90%;
}

.w90 {
  width: 90%;
}

.textAlignCenter {
  text-align: center;
}

@font-face {
  font-family: "Farsan";
  src: url("../../public/typography/Farsan-Regular.ttf");
}
@font-face {
  font-family: "Noto";
  src: url("../../public/typography/NotoSansThai.ttf");
}
.header-css {
  height: 10vh;
  background: #FFFFF2;
  box-shadow: 0px 5px 20px #383837;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navigation__main-link--logo {
  height: 50px;
}
.navigation__nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navigation__nav-bar--list {
  display: flex;
  flex-direction: row;
}

footer {
  height: 10vh;
  background-color: #002626;
}
footer div p {
  color: white !important;
}
footer div p a {
  color: white !important;
}

#block_page_accueil {
  height: 80vh;
}

#mainTitle {
  text-align: center;
  font-family: "Farsan", sans-serif;
  font-size: 40px;
}

.definition__text--title {
  font-weight: bold;
  margin: 0.5em;
}
.definition__image {
  padding: 5%;
  overflow: hidden;
}
.definition__image--photo {
  margin: 0.5em;
  max-height: auto;
  max-width: 90%;
}

#definitionTitle {
  text-align: center;
  margin: 0.5em;
}

#definitionSectionOne {
  text-align: center;
}

@media screen and (max-width: 992px) {
  #definitionOne, #definitionThree {
    flex-direction: column;
  }
}

#definitionSectionTwo, #definitionSectionFour {
  background-color: #F5B988;
}

#yangjiaQuanSectionOne h1 {
  text-align: center;
  margin: 0.5em;
}

.yangjiaMain__section--text {
  width: 90%;
}
.yangjiaMain__section--picture {
  max-height: 820px;
  border-radius: 15px;
  overflow: hidden;
}
.yangjiaMain__section--picture img {
  height: 780px;
}
@media screen and (max-width: 992px) {
  .yangjiaMain__section--picture img {
    height: auto;
    max-width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .yangjia__portraits {
    flex-direction: column;
  }
}
.yangjia__portraits--masters {
  margin: 0.5em;
}

.mastersPortraits {
  height: 256px;
  width: 180px;
  border-radius: 15px;
  overflow: hidden;
}
.mastersPortraits img {
  height: 256px;
  width: 180px;
}

#wangSectionTwo {
  background-color: #F5B988;
}

#masterWangPortrait {
  padding: 0.5em;
}

#logoCollegeEuropeen {
  padding: 0.5em;
}

#collegeImgContainer img {
  width: 90%;
}

#henriSectionTwo {
  background-color: #F5B988;
}

.henri__section--content img {
  width: 50%;
}
@media screen and (max-width: 992px) {
  .henri__section--content img {
    width: 90%;
  }
}

.video {
  max-width: 500px;
  max-height: 500px;
  border-radius: 15px 15px;
}

video {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px;
}

iframe {
  height: 265px;
  min-width: 100%;
  max-width: 100%;
  border: 2px #FFFFF2;
}

.bold {
  font-weight: bold !important;
}

.underline {
  text-decoration-line: underline !important;
}

.margin10px {
  margin: 10px 0;
}

#location {
  width: 90%;
}
#location div {
  width: 40%;
}
@media screen and (max-width: 992px) {
  #location div {
    width: 90%;
  }
}
@media screen and (max-width: 992px) {
  #location {
    flex-direction: column;
  }
}

.nav-button {
  display: block;
  width: 130px;
  height: 45px;
  margin: 5px;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #FFFFF2;
  border: 1px solid #A55036;
  border-radius: 5px;
}

.button {
  background-color: #A55036;
  height: 80px;
  width: 180px;
  font-size: 2em !important;
  border-radius: 15px;
  text-align: center;
  line-height: 2.5em;
  box-shadow: 0px 5px 40px #383837;
}

/*# sourceMappingURL=style.css.map */
