.nav-button {
    display: block;
    width: 130px;
    height: 45px;
    margin: 5px;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: $color-primary;
    border: 1px solid $color-quaternary;
    border-radius: 5px;
}

// .bkg-dropdown {
//     background-color: $color-primary;
// }