.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    // border: 1px solid $color-quaternary;
    // border-radius: 5px;
}