iframe {
    height: 265px;
    min-width: 100%;
    max-width: 100%;
    border: 2px $color-primary;
}

.bold {
    font-weight: bold!important;
}
.underline {
    text-decoration-line: underline!important;
}
.margin10px {
    margin: 10px 0;
}
#location {
    width: 90%;
    & div {
        width: 40%;
        @include media-queries-max($width-medium) {
            width: 90%;
        }
    }
    @include media-queries-max($width-medium) {
        flex-direction: column;
    }
}
